html {
			background-color: lightcyan;
			margin-right: 1em;
			margin-left: 1em;
		}

		h1 {
			text-align: center;
			color:chocolate;
		}

		div {
			text-align: center;
		}

		img {
			border-style: solid;
			border-color: blue;
			border-radius: 20%;
		}

		h2 {
			text-align: center;
			border-style: double;
			margin-right: 5em;
			margin-left: 5em;
			color: blue;
		}

		.introduction{
			text-align: center;
			border-style: hidden;
			background-color: darkcyan;
			margin-left: 6em;
			margin-right: 6em;
			margin-top: 2em;
			margin-bottom: 2em;
			padding-top: 2em;
			padding-bottom: 2em;
			font-size: 1.1em;
		}

		a {
			color: black;
			text-decoration: none;
		}

		
			
		

		h3 {
			text-align: center;
		}

		ul {
			margin-left: 40%;
			margin-right: 40%;
			font-size: 1.1em;
			list-style-type: none;

		}

		.contenido {
			padding-left: 15%;
			padding-right: 15%;
			font-size: 1.2em;
		}

		.list {
			border-style: outset;

		}

		.resaltado:hover {
			color: red;
		}