
		
		html {
			background-color: lightyellow;
		}

		h1 {
			color: red;
			text-align: center;
			font-size: 3em;
			margin-left: 3em;
			margin-right: 3em;
		}

		h2 {
			color: maroon;
			font-size: 2em;
			margin-left: 2em;
			border-style: inset;
			border-color: red;
			margin-right: 58%;
			padding-top: 0.2em;
			padding-bottom: 0.2em; 
			padding-left: 0.1em;
		}

		h3 {
			color: navy;
			font-size: 1.5em;
			margin-left: 2.5em;
			border-style: dotted;
			margin-right: 83%;
		}

		div {
			margin-top: 1em;
			margin-bottom: 1em;
			text-align: center;
		}

		img {
			border: 0.5em solid red;
			border-radius: 20%;
		}

		
		.parrafob {
			border-style: dashed;
			border-color:plum;
			margin-left: 5em;
			margin-right: 5em;
		}

		.introduction{
			text-align: center;
			border-style: hidden;
			background-color: darkkhaki;
			margin-left: 6em;
			margin-right: 6em;
			margin-top: 2em;
			margin-bottom: 2em;
			padding-top: 2em;
			padding-bottom: 2em;
			font-size: 1.1em;
		}

		.enlace {
			display: inline-block;
			margin-left: 6em;
			margin-right: 8em;
			margin-top: 1em;
			margin-bottom: 1em;
			border-style: solid;
			background-color: mediumpurple;

		}

		li:hover {
			background-color: gray;
			padding-left: 1.1em;
			padding-right: 1.1em;
		}

		.menu {
			padding-left: 25em;
			padding-right: 25em;
		}

		.butom {
			color: white;
			text-decoration: none;
			display: block;
			padding-left: 1em;
			padding-right: 1em;
			padding-top: 1em;
			padding-bottom: 1em;
		}

		.comentary {
			text-align: center;
			border-style: hidden;
			background-color: khaki;
			margin-left: 25em;
			margin-right: 25em;
			margin-top: 2em;
			margin-bottom: 2em;
			padding-top: 2em;
			padding-bottom: 2em;
			padding-left: 1em;
			padding-right: 1em;
			font-size: 1.1em;
		}

		.text {
			color: darkred;
		}

		footer {
			text-align: center;
			color: red;
			font-size: 1.5em;
		}

		.secciones {
			display: inline-block;
			margin-left: 1em;
			border-style: solid;
			background-color: mediumpurple;
		}





